.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--first-dark);
}

.paragraph {
  color: var(--white-full);
  margin: 0;
}

.code {
  font-weight: var(--weight-medium);
}

.link {
  color: var(--second);
}

.nav {  
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.opt {
  width: 120px;
  margin: var(--space-large) 0;
}

.opt a {
  display: block;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: var(--transition-base);
}

.opt a:hover {
  opacity: 0.4;
}
