:root {
  /* Colors */
  --first: #303841;
  --first-dark: #000306;
  --first-ligth: #3a4750;

  --second: #3363b3;
  --third: #f8fdff;

  --black-full: #000;
  --grey-base: #808891;
  --grey-dark: #111920;
  --grey-light: #b0b8c1;
  --white-full: #fff;
  --white-half: rgba(255, 255, 255, 0.52);
  --white-smoke: rgba(255, 255, 255, 0.27);
  --white-glass: rgba(255, 255, 255, 0.07);

  --link: #105b8a;

  /* USER COLORS */
  --error: #d72323;
}
