@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/bold/firacode-bold.woff2') format('woff2'),
       url('../fonts/bold/firacode-bold.woff') format('woff'),
       url('../fonts/bold/firacode-bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/medium/firacode-medium.woff2') format('woff2'),
       url('../fonts/medium/firacode-medium.woff') format('woff'),
       url('../fonts/medium/firacode-medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/light/firacode-light.woff2') format('woff2'),
       url('../fonts/light/firacode-light.woff') format('woff'),
       url('../fonts/light/firacode-light.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
