.Users {
  --border: 1px solid var(--white-glass);

  color: var(--white-full);
  min-height: 100vh;
  height: auto;
}

.list {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: auto;
  margin: 0 auto;
  max-width: 520px;
}

.item,
.head,
.link {
  display: flex;
  box-sizing: border-box;
}

.head {
  padding: var(--space-base);
}

.head .icon {
  margin: 0 var(--space-base);
}

.iconButton {
  text-align: left;
  border: 0;
  background: none;
  color: var(--white-full);
  text-transform: uppercase;
  padding: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 22px;
  height: 22px;
  fill: var(--first);
  transition: var(--transition-base);
}

.iconButton:hover > .icon {
  fill: var(--white-full);
}

.item {
  border: var(--border);
  border-bottom: 0;
}

.list .item:last-child {
  border-bottom: var(--border);
}

.link {
  cursor: pointer;
  width: 100%;
  color: var(--white-half);
  padding: var(--space-base);
  transition: var(--transition-base0);
}

.link:hover {
  background: var(--grey-dark);
}

.cell,
.order {
  width: 260px;
}

.foot {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  height: 30px;
}

.page {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
